$primary-color: #330099;
$secondary-text-color: #545454;
$third-text-color: #3d3d3d;
$accent-color: #ffff00;
$white-color: #ffffff;
$primary-bcg-color: #ffffff;
$dark-theme-primary-color: #000;

body {
  background-image: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0.4) 89.58%,
      #5a568c 99.98%
    ),
    url('../images/space-bcgi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: Roboto, sans-serif;
  transition: color 150ms var(--timing-function),
    background-image 150ms var(--timing-function);
}
// Body & Theme style

body.lightTheme {
  background-image: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0.4) 89.58%,
      #5a568c 99.98%
    ),
    url('../images/space-bcgi.jpg');
  color: $secondary-text-color;
}

body.darkTheme {
  background-image: linear-gradient(
      180deg,
      #330066 0%,
      rgba(255, 255, 255, 0) 99.87%
    ),
    url('../images/space-bcgi.jpg');
  color: $dark-theme-primary-color;
}

//  Tag styles

body.modal-open {
  overflow: hidden;
}
main {
  box-shadow: 0px 22px 43px -6px rgba(255, 255, 255, 0.7) inset;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;

  height: 0 !important;
  width: 0 !important;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  // @media screen and (min-width: 576px) {
  //   width: 576px;
  // }

  @media screen and (min-width: 768px) {
    width: 768px;

    padding-left: 75px;
    padding-right: 75px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;

    padding-left: 70px;
    padding-right: 70px;
  }
}
