.rights {
  height: 100px;

  padding-top: 30px;

  text-align: center;

  background-color: rgba(78, 96, 254, 0.45);

  @media screen and (min-width: 768px) {
    height: 77px;
  }
}

.rights__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #330099;

  @media screen and (min-width: 768px) {
    display: inline;

    font-size: 16px;
    line-height: 1.19;
  }
}

.rights__text + .rights__text {
  margin-top: 10px;
}

.rights__link {
  text-decoration: underline;

  &:hover {
    color: #ffff00;
  }
}
