// * {
//   outline: 1px solid red;
// }

.gallery__section {
  padding-top: 12px;
  padding-bottom: 12px;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    margin: -10px;
  }
}

.gallery__card {
  background-color: transparent;
  width: 280px;
  min-height: 416px;
  position: relative;
  border-radius: 15px;
  border: 1px solid transparent;
  overflow: hidden;
  outline: none;
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);

  @media screen and (min-width: 768px) {
    margin-right: 7px;
    margin-left: 7px;
    margin-bottom: 7px;
  }

  @media screen and (max-width: 767px) {
    & + .gallery__card {
      margin-top: 15px;
    }
  }
}

.gallery__card:hover {
  background-color: #fff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.gallery__image {
  border-radius: 10px;
  padding: 7px;
}

.gallery__description {
  font-family: Roboto;
  // background-color: rgb(223, 216, 247);
  text-align: left;
  padding: 7px;

  .gallery__title__light {
    color: #330099;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }

  // .gallery__title__dark {
  //   color: #000000;
  //   text-transform: uppercase;
  //   font-weight: 500;
  //   font-size: 12px;
  //   line-height: 1.33;
  // }

  .gallery__film-category__light {
    color: #545454;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }

  // .gallery__film-category__dark{
  //   color: #545454;
  //   font-weight: 500;
  //   font-size: 12px;
  //   line-height: 1.33;
  // }

  .gallery__release-date__light {
    color: #545454;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }

  // .gallery__release-date__dark{
  //   color: #ffffff;
  //   font-weight: 500;
  //   font-size: 12px;
  //   line-height: 1.33;
  // }
}

.pagination__wrapper {
  margin: auto;
  // align-items: center;
  display: flex;
  justify-content: space-around;
  width: 283px;
  height: 40px;
  border: 1px solid blueviolet;

  @media screen and (min-width: 767px) {
    width: 375px;
  }

  @media screen and (min-width: 768px) {
    width: 375px;
  }
}

.pagination__button {
  border: none;
  background-color: #ffff00;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pagination__arrow-left {
  border: none;
  background-color: #ffff00;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pagination__arrow-right {
  border: none;
  background-color: #ffff00;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pagination__button-dots {
  border: none;
  background-color: #ffff00;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pagination__button-last {
  border: none;
  background-color: #ffff00;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hidden {
  display: none;
}
