/*
 * Все паршалы импортировать в этот файл
 */
@import 'preloading.scss';
@import 'fonts.scss';
@import 'reset.scss';
@import 'normalize.scss';
@import 'base.scss';
@import 'header.scss';
@import 'aboutUs.scss';
@import 'hero.scss';
@import 'filterBtns.scss';
@import 'gallery.scss';
@import 'detailsPage.scss';
@import 'library.scss';
@import 'pagination.scss';
@import 'scroll.scss';
@import 'footer.scss';

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
@import 'trailers.scss';
@import 'basicLightbox.scss';
@import 'registration.scss';
