.login-form__wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: $primary-bcg-color;
}
.login-form__html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: $primary-bcg-color;
}
.login-form__html .login-form__signin-group,
.login-form__html .login-form__signup-group {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-form__html .login-form__signin,
.login-form__html .login-form__signup {
  display: none;
}
.login-form__html .login-form__tab,
.login-form__html .login-form__field .login-form_label,
.login-form__html .login-form__field .login-form_button {
  text-transform: uppercase;
}
.login-form__html .login-form__tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-form__html .login-form__signin:checked + .login-form__tab,
.login-form__html .login-form__signup:checked + .login-form__tab {
  color: $accent-color;
  border-color: $accent-color;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .login-form__field {
  margin-bottom: 15px;
}
.login-form .login-form__field .login-form_label,
.login-form .login-form__field .login-form_input,
.login-form .login-form__field .login-form_button {
  width: 100%;
  color: $white-color;
  display: block;
}
.login-form .login-form__field .login-form_input,
.login-form .login-form__field .login-form_button {
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  background: $secondary-text-color;
}
/*.login-form .login-form__field input[data-type='password'] {
  text-security: circle;
  -webkit-text-security: circle;
}*/
.login-form .login-form__field .login-form_label {
  color: $third-text-color;
  font-size: 12px;
}
.login-form .login-form__field .login-form_button {
  background: $accent-color;
}

.login-form__html
  .login-form__signin:checked
  + .login-form__tab
  + .login-form__signup
  + .login-form__tab
  + .login-form
  .login-form__signin-group {
  transform: rotate(0);
}
.login-form__html
  .login-form__signup:checked
  + .login-form__tab
  + .login-form
  .login-form__signup-group {
  transform: rotate(0);
}

.login-form__foot-lnk {
  text-align: center;
}
