<section class="card__section">
  <img class="card__img" src="../images/detailsPage/test.jpg" alt="film-title" />
  <div class="card__content">
    <h2 class="card__title">A FISTFUL OF LEAD</h2>
    <div class="card__mainInfo">
      <ul class="card__mainInfo__list list">
        <li class="card__mainInfo__item">
          <p class="card__mainInfo__itemTitle">
            Vote <span> /</span> Votes
          </p>
          <p class="card__mainInfo__item__vote">7.1</p>
          <span> / </span>
          <p class="card__mainInfo__item__votes">3088</p>
        </li>
        <li class="card__mainInfo__item">
          <p class="card__mainInfo__itemTitle">Popularity</p>
          <p class="card__mainInfo__item__popularity">2751.8</p>
        </li>
        <li class="card__mainInfo__item">
          <p class="card__mainInfo__itemTitle">Original Title</p>
          <p class="card__mainInfo__item__film">WONDER WOMAN 1984</p>
        </li>
        <li class="card__mainInfo__item">
          <p class="card__mainInfo__itemTitle">Genre</p>
          <p class="card__mainInfo__item__genre">Fantasy</p>
        </li>
      </ul>
    </div>
    <div class="card__aboutInfo">
      <h3 class="card__aboutInfo__title">ABOUT</h3>
      <p class="card__aboutInfo__text">
        Four of the West’s most infamous outlaws assemble to steal a
        huge stash of gold from the most corrupt settlement of the
        gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the
        abandoned gold mine where they happen across another gang of
        three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they
        realise the bags of gold are filled with lead... they’ve been
        double crossed – but by who and how?
      </p>
    </div>
    <div class="card__checkbox">
      <ul class="card__button__list list">
        <li>
          <button class="card__btn__watched button" id="btn_watched">
            <svg class="card__btn__watched__icon" width="20px" height="20px">
              <use href="../images/detailsPage/card-page.svg#icon-film"></use>
            </svg>
            <span class="card__btn__text">add to Watched</span>
          </button>
        </li>
        <li>
          <button class="card__btn__queue button" id="btn_queue">
            <svg class="card__btn__queue__icon" width="20px" height="20px">
              <use href="../images/detailsPage/card-page.svg#icon-rocket"></use>
            </svg>
            <span class="card__btn__text">add to Queue</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>